<mat-form-field class="full-width">

    <input matInput name="todo-title" [(ngModel)]="todo.title" [disabled]='disableTextbox' />
 
  <mat-slide-toggle [checked]="todo.isCompleted" (change)="onChangetoggleMethod()">
    Toggle me! {{todo.isCompleted ? "Completed" :"Incompleted"}}
  </mat-slide-toggle>
  <!-- <button type="button" (click)="Edit(todo.id)">Edit</button> </td> -->
  <div style="right: 0;
  position: absolute;
  top: 15px;">
  <button type ="button" *ngIf="enableEdit && enableEditIndex == rowIndex" id="saveBtn" class="btn btn-primary"
  (click)="saveSegment(rowIndex)" type="submit">Save</button> &nbsp;&nbsp;&nbsp;
  <button  type ="button" *ngIf="enableEdit && enableEditIndex == rowIndex"
    class="btn btn-secondary" (click)="cancel()">Cancel</button>
  </div>
 
    <div style="right: 0;
    position: absolute;
    top: 15px;">
  <a href="#" class="table-row-action edit-action" *ngIf="!enableEdit" (click)="enableEditMethod($event, rowIndex)">
    Edit
  </a>
 &nbsp;&nbsp;&nbsp;
  <a href="#" class="table-row-action edit-action" *ngIf="!enableEdit" (click)="deleteMethod($event, rowIndex)">
    Delete
  </a>
</div>

</mat-form-field>
